* {
	margin: 0;
	outline: none;
}

/* Work with main elements */

.header {
	height: 30px;
	padding: 30px;
	margin-left: 100px;
}

/*  Work with header's elements */

.img-1 {
	position: absolute;
	width: 80px;
	height: 80px;
	padding: 5px;
	margin-left: 0.7vw;
	margin-top: 0px;
}

.b-1 {
	font-size: 30px;
	margin-left: 6vw;
}

.b-2 {
	font-size: 30px;
	margin-left: 11vw;
}

.a-1 {
	text-decoration: none;
	color: #000000;	
}

.div-0 {
	float: left;
	width: 100px;
	height: 90px;
}

.div-1 {
	float: left;
}

.div-2 {
	float: left;
}

.div-3 {
	float: left;
}

.div-5 {
	float: left;
}

.div-4 {
	float: left;
}


.div-1:hover {
	position: relative;
	margin-top: 2px;
}

.div-2:hover {
	position: relative;
	margin-top: 2px;
}

.div-3:hover {
	position: relative;
	margin-top: 2px;
}

.div-4:hover {
	position: relative;
	margin-top: 2px;
}

.div-5:hover {
	position: relative;
	margin-top: 2px;
}

/* Work with div divUnderHeader's elements */

.divUnderHeader {
	height: 50vh;
}

.divUnderHeader_2 {
	height: 50vh;
}


.divUnderHeader_3 { 
	height: 50vh;
}

.divUnderHeader_4 { 
	height: 50vh;
}

.divUnderHeader_5 { 
	height: 50vh;
}

.divUnderHeader_3_5 { 
	height: 50vh;
}

.div-6 {
	width: 25vw;
	height: 40vh;
	margin-top: 20px;
	margin-left: 30px;
	float: left;
}

.img-2 {
	width: 21vw;
	height: 38vh;
}

.div-7 {
	width: 25vw;
	height: 38vh;
	margin-left: 50px;
}

.button-1 {
	width: 7vw;
	height: 4vh;
	border: 2px solid grey;
	border-radius: 10px;
	margin-left: 9.5vw;
	margin-top: 3vh;
	font-size: 18px;
	text-align: center;
	outline: none;
}

.div-8 {
	width: 30vw;
	height: 40vh;
	margin-top: 20px;
	margin-left: 120px;
	float: left;
}

.img-3 {
	width: 21vw;
	height: 38vh;
	margin-left: 10%;
	margin-top: 10px;
}

.div-9 {
	width: 30vw;
	height: 38vh;
}

.button-2 {
	width: 7vw;
	height: 4vh;
	border: 2px solid grey;
	border-radius: 10px;
	margin-left: 9.5vw;
	margin-top: 3vh;
	font-size: 18px;
	text-align: center;
	outline: none;
}

.div-10 {
	width: 30vw;
	height: 40vh;
	margin-top: 20px;
	margin-left: 30px;
	float: left;
}

.img-4 {
	width: 21vw;
	height: 38vh;
	margin-left: 10%;
	margin-top: 10px;
}

.div-11 {
	width: 30vw;
	height: 38vh;
}

.button-3 {
	width: 7vw;
	height: 4vh;
	border: 2px solid grey;
	border-radius: 10px;
	margin-left: 9.5vw;
	margin-top: 3vh;
	font-size: 18px;
	text-align: center;
	outline: none;
}

.div-advertising {
	height: 55vh;
	margin-top: 2vh;
	animation: anime infinite 13s linear;
	text-align: center;
	padding-top: 15vh;
	font-size: 100px;
}

.div-text-in-main {
	animation: anime infinite 10s linear;
}

@keyframes anime {
    0% {
        background-color: orange;
        color: #428DE2;
        font-size: 100px;
    }
    33% {
        background-color: skyblue;
        color: orange;
        font-size: 105px;
    }
    66% {
        background-color: #428DE2;
        color: skyblue;
        font-size: 110px;
    }
    100% {
        background-color: orange;
        color: #428DE2;
        font-size: 100px;
    }
}

.snacks {
	height: 110px;
	padding-top: 50px;
}

.in_snacks {
	height: 100px;
	width: 150px;
	margin-left: 150px;
	font-size: 70px;
}

.Under {
	padding-top: 2vh;
	height: 48vh;
	background-color: #443D41;
}

.Under_ {
	padding-top: 1vh;
	height: 6vh;
	background-color: #E2780D;
	margin-top: 50px;
}

.div-12 {
	width: 300px;
	height: 40px;
	font-size: 35px;
	color: white;
	opacity: 0.8;
	text-align: center;
	margin: auto;
}

.div-13 {
	background-color: #E2780D;
	height: 2px;
	width: 0;
	margin: auto;
	transition: width 0.5s ease-in;
}

.div-12:hover .div-13 {
	width: 200px;
}

.div-12:hover {
	opacity: 1;
}

.div-14 {
	height: 6vh;
	width: 40vw;
	font-size: 30px;
	color: white;
	margin-left: 10vw;
	float: left;
	opacity: 0.9;
}

.div-15 {
	width: 15vw;
	height: 4vh;
	float: left;
	margin-left: 20vw;
	font-size: 17px;
	padding-top: 1vh;
	outline: none;
	border: 1px solid white;
	border-radius: 25px;
	color: white;
	opacity: 0.9;
}

.div-16 {
	width: 6.5vw;
	height: 4vh;
	margin: auto;
}

.div-15:hover {
	background-color: white;
	color: #E2780D;
	opacity: 1;
}

@media all and (max-width: 320px) {
	.divUnderHeader { 
		display: none;
	}

	.divUnderHeader_2 { 
		display: none;
	}

	.divUnderHeader_3 { 
		display: none;
	}

	.divUnderHeader_3_5 { 
		display: none;
	}

	.divUnderHeader_4 { 
		display: none;
	}

	.divUnderHeader_5 { 
		display: none;
	}

	.Under {
		display: none;
	}

	.Under_ {
		display: none;
	}

	.snacks {
		display: none;
	}


	.div-0 {
		height: 90px;
		margin: auto;
		float: none;
		border: 0;
	}

	.img-1 {
		width: 90px;
		height: 90px;
		border-bottom: 0;
	}

	.b-1 {
		margin: auto;
	}

	.b-2 {
		margin: auto;
	}

	.div-1 {
		height: 5vh;
		border-radius: 5px;
		padding-top: 5px;
		padding-bottom: 10px;
		border: 4px solid #FFC219;
		text-align: center;
		float: none;
		opacity: 0.7;
	}

	.div-2 {
		height: 5vh;
		border-radius: 5px;
		padding-top: 5px;
		padding-bottom: 10px;
		border: 4px solid #FFC219;
		text-align: center;
		float: none;
		opacity: 0.7;
		margin-top: 10px;
	}

	.div-3 {
		height: 5vh;
		border-radius: 5px;
		padding-top: 5px;
		padding-bottom: 10px;
		border: 4px solid #FFC219;
		text-align: center;
		float: none;
		opacity: 0.7;
		margin-top: 10px;
	}

	.div-5 {
		height: 5vh;
		border-radius: 5px;
		padding-top: 5px;
		padding-bottom: 10px;
		border: 4px solid #FFC219;
		text-align: center;
		float: none;
		opacity: 0.7;
		margin-top: 10px;
	}

	.div-4 {
		height: 5vh;
		border-radius: 5px;
		padding-top: 5px;
		padding-bottom: 10px;
		border: 4px solid #FFC219;
		text-align: center;
		float: none;
		opacity: 0.7;
		margin-top: 10px;
	}
	
	.header {
		height: 60vh;
		border: 0;
		padding-top: 25px;
		margin-left: 0;
	}

	.div-6 {
		display: none;
	}

	.div-8 { 
		display: none;
	}

	.div-10 {
		display: none;
	}

	.div-advertising {
		display: none;
	}
}