body {
			margin: 0;
		}

		.div-3 {
			text-align: center;
			font-size: 14px;
			padding-top: 35px;
			transition: all 0.3s linear;
		}

		.div-3:hover {
			padding-top: 33px;
			background-color: #78827D;
		}
		
		.div-1 {
			height: 90px;
			box-shadow: 0 1px 7.5px #78827D;
			display: grid;
			grid-template-columns: 2fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 6fr 1fr 1fr 1fr 2fr;
		} 

		.div-4 {
			text-align: center;
			font-size: 14px;
			padding-top: 35px;
			transition: all 0.3s linear;
		}

		.div-4:hover {
			padding-top: 33px;
			background-color: #78827D;
		}

		.div-5 {
			text-align: center;
			font-size: 14px;
			padding-top: 35px;
			transition: all 0.3s linear;
		}

		.div-5:hover {
			padding-top: 33px;
			background-color: #78827D;
		}

		.div-6 {
			text-align: center;
			font-size: 14px;
			padding-top: 35px;
			transition: all 0.3s linear;
		}

		.div-6:hover {
			padding-top: 33px;
			background-color: #78827D;
		}

		.div-7 {
			text-align: center;
			font-size: 14px;
			padding-top: 35px;
			transition: all 0.3s linear;
		}

		.div-7:hover {
			padding-top: 33px;
			background-color: #78827D;
		}

		.div-8 {
			text-align: center;
			font-size: 14px;
			padding-top: 35px;
			transition: all 0.3s linear;
		}

		.div-8:hover {
			padding-top: 33px;
			background-color: #78827D;
		}
		
		.img-1 {
			width: 55px;
			height: 50px;
		}

		.div-2 {
			padding-top: 18px;
			text-align: center;
			transition: all 0.3s linear;
		}

		.div-2:hover {
			padding-top: 16px;
			background-color: #78827D;
		}

		.img-2 {
			width: 25px;
			height: 27px;
		}

		.div-9-1 {
			padding-top: 27px;
			text-align: center;
			transition: all 0.3s linear;
		}

		.div-9-1:hover {
			padding-top: 25px;
			background-color: #78827D;
		}

		.img-3 {
			width: 27px;
			height: 29px;
		}

		.div-10 {
			padding-top: 26px;
			text-align: center;
			transition: all 0.3s linear;
		}

		.div-10:hover {
			padding-top: 24px;
			background-color: #78827D;
		}

		.img-4 {
			width: 30px;
			height: 30px;
		}

		.div-11 {
			padding-top: 28px;
			text-align: center;
			transition: all 0.3s linear;
		}

		.div-11:hover {
			padding-top: 26px;
			background-color: #78827D;
		}
