body {
	margin: 0;
	display: block;
}

.div-bac {
	background-image: url("https://wallpaperscave.ru/images/original/18/07-06/earth-ocean-64581.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	padding-top: 10vh;
	width: 100vw;
	height: 90vh;
}

.div1 {
	width: 230px;
	height: 100px;
	margin: auto;
	color: #000000;
}

.div2 {
	width: 500px;
	margin: auto;
}

.div-name {
	width: 300px;
	margin: auto;
}

.name {
	width: 295px;
	height: 25px;
	padding-left: 5px;
	padding-top: 5px;
	background-color: #000000;
	opacity: 0.3;
	border: 2px solid #FFFFFF; 
	outline: none;
	color: #FFFFFF;
}

.name:hover {
	opacity: 0.7;
}

.div-surname {
	width: 300px;
	margin: auto;
	margin-top: 10px;
}

.surname {
	width: 295px;
	height: 25px;
	padding-left: 5px;
	padding-top: 5px;
	background-color: #000000;
	opacity: 0.3;
	border: 2px solid #FFFFFF; 
	outline: none;
	color: #FFFFFF;
}

.surname:hover {
	opacity: 0.7;
}

.div3 {
	margin-left: 210px;
	margin-top: 30px;
}

.vv {
	width: 90px;
	height: 40px;
	background-color: #000000;
	opacity: 0.2;
	color: #FFFFFF;
	outline: none;
	border: 2px solid skyblue;
}

.vv:hover {
	opacity: 0.7;
}
